/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.cache
/.cache/
/.deveco/
*.p12
*.p7b
*.cer
*.jks
*.csr
*.pem
*.prof
/build-profile.json5
entry/build-profile.json5
**/oh-package-lock.json5
